
.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* --- below has no effect -- 
    text-align: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    justify-content: center;*/
  }
  
  .column {
    align-self: center;
    justify-self: center; 
  }